.list {
  /* display: inline-block; */
  color: black;
  margin: 1rem auto;
  padding: 1rem;
  width: 90%;
  min-width: 10rem;
}

.list p {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.list p:hover {
  cursor: pointer;
  background-color: #a6e6b4;
}
